@model PortfolioProjectNight.Models.Education

@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Eğitim Güncelleme Sayfası</h2>

<form method="post">


    <label style="display:none">Eğitim ID</label>
    @Html.TextBoxFor(x => x.Education1, new { @class = "form-control",@style = "display:none" })
    <br />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Alt Başlık</label>
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />

    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />


    <button class="btn btn-warning">Eğitim Güncelle</button>

</form>