<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://media.licdn.com/dms/image/v2/D4D03AQF5Ujq6LiN-nA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1724488226087?e=1733961600&v=beta&t=uSpHw_Qh-3TKy3qjG5azuUXy1XSmMYNACsyZvmIcqos);"></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="/About/AboutList/">Hakkımda</a></li>
            <li><a href="/Category/CategoryList/">Kategoriler</a></li>
            <li><a href="/Education/EducationList/">Eğitim Hayatım</a></li>
            <li><a href="/Experience/ExperienceList/">Deneyimlerim</a></li>
            <li><a href="/Message/Inbox/">Gelen Mesajlar</a></li>
            <li><a href="/Profile/ProfileList/">Profilim</a></li>
            <li><a href="/Service/ServiceList/">Hizmetler</a></li>
            <li><a href="/Skill/SkillList/">Yeteneklerim</a></li>
            <li><a href="/Reference/ReferenceList/">Referanslar</a></li>
            <li><a href="/Work/WorkList/">Çalışmalarım</a></li>
            <li><a href="/Skill/SkillStatisticGraphic2/">Yeteneklerim İstatistik</a></li>
            <li><a href="/Statistics/Index/">İstatistikler</a></li>
            <li><a href="#">Sosyal Medya</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış Yap</a></li>

        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | <i class="icon-heart" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank">Muhammet Ali Tanrıkulu</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>
