
<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="#pigraHome" class="nav-item nav-link active"><span class="fa fa-home"></span> Anasayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="far fa-address-card"></span> Hakkımda</a>
            <a href="#EĞİTİM" class="nav-item nav-link"><span class="fa fa-graduation-cap"></span> Eğitim Hayatım</a>
            <a href="#EĞİTİM" class="nav-item nav-link"><span class="fa fa-laptop"></span> Deneyimlerim</a>
            <a href="#pigraBlog" class="nav-item nav-link"><span class="fa fa-star-half"></span> Yeteneklerim</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="fab fa-servicestack"></span> Hizmetlerim</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="fa fa-pen"></span> Portfolyo</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="fa fa-lightbulb"></span> Referanslarım</a>
            <a href="#pigraContact" class="nav-item nav-link"><span class="fa fa-keyboard"></span> Bana Yazın</a>
        </div>  
    </nav>
</div>
