<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <iframe class="rounded w-100"
                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5063.226994441587!2d29.012757357480456!3d41.011847702461374!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab8309a7e3a05%3A0x6a1db2accc9944a4!2sHarem%20Arabal%C4%B1%20Feribot%20%C4%B0skelesi!5e0!3m2!1str!2str!4v1728063005486!5m2!1str!2strd"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

