@model PortfolioProjectNight.Models.About

@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Hakkımda Güncelleme Sayfası</h2>

<form method="post">


    <label style="display:none">Hakkımda ID</label>
    @Html.TextBoxFor(x => x.AboutId, new { @class = "form-control", @style = "display:none" })
    <br />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />

    <label>Resim Yolu</label>
    @Html.TextAreaFor(x => x.ImageUrl, new { @class = "form-control"})
    <br />


    <button class="btn btn-info">Hakkımda Güncelle</button>

</form>